/* Header.css */

.navbar {
    /* background-color: #c5cacae6; */
    
      background: linear-gradient(135deg, #FFD700, #FF6347);
      /* Fallback for older browsers */
      background: -webkit-linear-gradient(135deg, #FFD700, #FF6347);
      background: -moz-linear-gradient(135deg, #FFD700, #FF6347);
      background: -o-linear-gradient(135deg, #FFD700, #FF6347);
      background: -ms-linear-gradient(135deg, #FFD700, #FF6347);
    padding: 1rem 2rem;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #080809 !important;
  }
  
  .nav-link {
    font-size: 1.1rem;
    color: #555 !important;
    margin-right: 1rem;
  }
  
  .nav-link:hover {
    color: #007bff !important;
  }
  
  .ml-auto {
    margin-left: auto !important;
  }
  