body {
  /* font-family: 'Arial', sans-serif;
  background-color: #3ab09e;
  margin: 0;
  padding: 0; */
  
    /* Gradient Background */
    background: linear-gradient(135deg, #89CFF0, #FFD700);
    /* Fallback for older browsers */
    background: -webkit-linear-gradient(135deg, #89CFF0, #FFD700);
    background: -moz-linear-gradient(135deg, #89CFF0, #FFD700);
    background: -o-linear-gradient(135deg, #89CFF0, #FFD700);
    background: -ms-linear-gradient(135deg, #89CFF0, #FFD700);
    /* Ensure the gradient covers the entire background */
    height: 100vh;
    margin: 0;
    font-family: 'Arial, sans-serif';



}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #343a40;
}

p {
  text-align: center;
  color: #343a40;
  font-weight: 10;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff !important;
}

.navbar-nav .nav-link {
  color: #343a40 !important;
}

.carousel-item img {
  max-height: 400px;
  object-fit: cover;
}

.container {
  max-width: 960px;
}

.card {
  margin-bottom: 20px;
}

.card-title {
  color: #007bff;
}

.footer {
  background-color: #f8f9fa;
  color: #6c757d;
  padding: 10px 0;
  text-align: center;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
}

.form-group label {
  text-align: left;
  display: block;
}

button {
  display: block;
  margin: 0 auto;
}
